In [24]:
import psycopg2 as ps
import pandas as pd

con=ps.connect(dbname="webgis",
                user="postgres",
                password= "12345",
                host="localhost",
                port="5432")

sql="""
SELECT
    block.gid,
    block.objectid,
    block.afd_name,
    block.block_name,
    block.ha,
    block.estate,
    CASE
		WHEN "Jangkos".gid IS NOT NULL
			THEN 'Data Available' ELSE '-'
		END AS jangkos
FROM
    block
LEFT OUTER JOIN
    "Jangkos"
ON
    "Jangkos".gid = block.gid
ORDER BY
    jangkos DESC;
"""
# data = sqlio.read_sql_query(sql, con)
data = pd.read_sql_query(sql, con)
data = data.drop(['gid','objectid'], axis=1)
data = data.rename(columns={
    'afd_name': 'Afdeling',
    'block_name': 'Block',
    'ha': 'Area (Ha)',
    'estate': 'Estate',
    'jangkos': 'Status',
    })
data = data.reindex(columns=[
    'Estate',
    'Afdeling',
    'Block',
    'Area (Ha)',
    'Status',
])
print(data)
data.to_excel('extjangkos.xlsx', index=False)

    Estate Afdeling Block  Area (Ha)          Status
0     INTI        B   D10      26.12  Data Available
1     INTI        A   A12       8.04  Data Available
2     INTI        A   A11       4.77  Data Available
3     INTI        B   D10      26.12  Data Available
4     INTI        B   D10      26.12  Data Available
..     ...      ...   ...        ...             ...
414   INTI        A   A13      11.98               -
415   INTI        A   A14      15.96               -
416   INTI        A   A15      20.57               -
417   INTI        A   B07      28.07               -
418   INTI        A   B08      19.06               -

[419 rows x 5 columns]

C:\Users\Adli\AppData\Local\Temp\ipykernel_49412\4236849092.py:33: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_query(sql, con)